<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="/styles/battle.css">
    <link rel="stylesheet" href="/styles/style.css"/>
    <script src="/js/global.js"></script>
</head>
<body>
<div class="container">
    <div id="timer-container">
        <div id="time-left">Average Score</div>
        <div id="timer">21</div>
    </div>

    <di id="word-container">
        <div id="main-word"><span>Lon</span>g word of ness</div>
        <div id="next-word">Pie</div>
    </di>

</div>
</body>
</html>
