<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
<div class="container">

    <form method="post" action="/auth/register">

        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <input type="password" placeholder="Repeat Password" name="passwordRepeat">
        <input type="submit" value="Sign up">

    </form>

</div>
</body>
</html>
