<!DOCTYPE html>
<html>
  <head>
    <title></title>
     <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
  	<div class="container">
    	<h1 id="welcomeTitle">Typing Battle</h1>
        <a href="/auth/facebook"><div class="button-blue noselect">Login with Facebook</div></a>
        <div class="button-red noselect">Login with Email</div>
        <div class="button-black noselect">Try without login</div>
    </div>
  </body>
</html>
