#timer
  font-size: 109px
  font-weight: 900
  margin-top: -18px
  padding-top: 0
  color: #FFFFFF
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.15)

#timer-container
  width: 233px
  margin-left: auto
  margin-right: auto
  text-align: center
  margin-bottom: 200px
  margin-top: 20px

#time-left
  font-size: 29px
  color: #daccb8
  margin-bottom: 0
  padding-bottom: 0

#main-word
  width: 600px
  height: 100px
  margin-left: auto
  margin-right: auto
  text-align: center
  background-color: #69b5f0
  color: white
  font-size: 60px
  text-shadow: 0 3px #d4d4d4, 0 3px 3px #656565
  font-weight: 800
  padding-top: 20px

  #first
    color: #ffaa45
    text-shadow: 0 3px #fdc694, 0 3px 5px #ffad00

#next-word
  width: 300px
  margin-left: auto
  margin-right: auto
  text-align: center
  background-color: #7ec0f3
  height: 60px
  font-size: 40px
  color: white
  font-weight: 600
  padding-top: 10px
  box-shadow: 0 4px #5ea6dd
  margin-top: -170px